<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard</title>
</head>
<body class="dashboard-page">
    <div class="dashboard-container">
        <h1>Dashboard</h1>
        <p>Bienvenido, {{ usuario }}!</p>
        <form action="{{ url_for('logout') }}" method="post">
            <button class="button" type="submit">Cerrar Sesión</button>
        </form>
    </div>
</body>
</html>
