<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popcorn Hour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>Popcorn Hour</h1>
        </div>
        <h2>Bienvenidos</h2>
        <p>Explora, comenta y califica tus películas favoritas.</p>
        <a href="/login"><button>Iniciar Sesión</button></a>
        <a href="/registro"><button>Registrarse</button></a>
    </div>
</body>
</html>
